{% extends 'base.html' %}
{% load static %}
{% block about %}

<div class="container">
    <div class="row">
			<div class="col-md-12">

            <div class="photoabout" >
<!--                Photograph What It Feels Like, Not What It Looks Like-->
                IT'S ALL ABOUT US
            </div>
            <div class="about-me">
             My photography focuses on joyful, editorial, stylish images full of beautiful and natural emotion.

            </div>


        </div>
    </div>

	<div class="row">
	   <div class="col-md-6">
            <img src={% static "images/114.jpg" %} class="img-responsive">
        </div>
        <div class="col-md-6">
            <h2>
                <center>WE PROVIDE</center>
            </h2>

            <p>Photography for everyone! We believe in work. We provide our service in a wide range of requirements.
                from born to peace we capture every moment your first cry to first hug, birthday to wedding, college to
                company. We are everywhere with you.</p>

            <div class="photo-style">

                <ul>
                    <li>Fashion Photography</li>
                    <li> Event Photography</li>
                    <li>Commercial Photography</li>
                    <li> Corporate photography</li>
                    <li>   Product  Photography</li>
                    <li> Portfolio shoot</li>
                </ul>

            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>
                <center>OUR CORE VALUES</center>
            </h1>
            <p>Our core values are the foundation of our company, essential to our success and serve as the lens through
                which we evaluate every business decision. Our commitment to these values, in both words and actions,
                builds a stronger, healthier Chesapeake, benefiting all of our employees and customers.
            </p>
        </div>
    </div>
</div>



{% endblock %}
